<div class="playlist">
  <h1>Playlist</h1>
  {{view Tunes.NavbarView}}
  <ul class="albums">
    {{#each album in controller}}
      {{view Tunes.AlbumView albumBinding="album"}}
    {{/each}}
  </ul>
</div>
